In [2]:
import pandas as pd

df = pd.read_csv("./fire_incidents.csv")

C:\Users\anben\AppData\Local\Temp\ipykernel_127552\939073323.py:3: DtypeWarning: Columns (10,12,13,20,29,38,45,46,55,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./fire_incidents.csv")

In [3]:
df["City"].unique()

array(['SF', 'FM', 'HP', 'TI', 'SFO', 'DC', 'YB', 'PR', 'BN', 'OAK',
       'San Francisco', 'Treasure Island', nan, 'Presidio', 'Brisbane',
       'Yerba Buena', 'Treasure Isla', 'Daly City', 'Hunters Point',
       'Fort Mason', 'AI', 'SAN FRANCISCO', 'PRESIDIO', 'TREASURE ISLAND',
       'FORT MASON'], dtype=object)

In [4]:
df["Mutual Aid"].unique()

array([nan, 'Mutual aid given', 'Mutual aid received', 'Other aid given',
       'Automatic aid given', 'Automatic or contract aid received',
       'N None', '5 Other aid given', '1 Mutual aid received',
       '3 Mutual aid given', '4 Automatic aid given',
       '2 Automatic aid received'], dtype=object)

In [5]:
df["Battalion"].unique()

array(['B05', 'B01', 'B03', 'B08', 'B02', 'B06', 'B07', 'B10', 'B04',
       'B09', 'B99'], dtype=object)

In [9]:
df["Battalion"].value_counts().sort_index()

Battalion
B01     85618
B02    107317
B03    103068
B04     74689
B05     53644
B06     52566
B07     40364
B08     58753
B09     56437
B10     63169
B99      3737
Name: count, dtype: int64

In [ ]:
df["Estimated Property Loss"].unique()

In [12]:
df[['longitude', 'latitude']] = df['point'].str.extract(r'\((-?\d+\.\d+) (-?\d+\.\d+)\)').astype(float)
df[["longitude","latitude"]]

         longitude   latitude
0      -122.419321  37.786641
1      -122.413562  37.797038
2      -122.394751  37.794480
3      -122.395630  37.793790
4      -122.397389  37.782554
...            ...        ...
699357 -122.473260  37.713895
699358 -122.416262  37.784942
699359 -122.430993  37.783505
699360 -122.384160  37.616901
699361 -122.471763  37.773137

[699362 rows x 2 columns]

In [14]:
pd.set_option('display.max_rows', None)  
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)  

df.isnull().sum()

Incident Number                                      0
Exposure Number                                      0
ID                                                   0
Address                                            315
Incident Date                                        0
Call Number                                          0
Alarm DtTm                                           1
Arrival DtTm                                        75
Close DtTm                                          15
City                                              1925
zipcode                                            169
Battalion                                            0
Station Area                                       822
Box                                             297847
Suppression Units                                    0
Suppression Personnel                                0
EMS Units                                            0
EMS Personnel                                        0
Other Units                                          0
Other Personnel                                      0
First Unit On Scene                             369538
Estimated Property Loss                         564506
Estimated Contents Loss                         557959
Fire Fatalities                                      0
Fire Injuries                                        0
Civilian Fatalities                                  0
Civilian Injuries                                    0
Number of Alarms                                     0
Primary Situation                                   16
Mutual Aid                                      336088
Action Taken Primary                               106
Action Taken Secondary                          655771
Action Taken Other                              693627
Detector Alerted Occupants                      663410
Property Use                                      3159
Area of Fire Origin                             663697
Ignition Cause                                  663701
Ignition Factor Primary                         666004
Ignition Factor Secondary                       699108
Heat Source                                     663699
Item First Ignited                              663701
Human Factors Associated with Ignition          666622
Structure Type                                  689286
Structure Status                                690344
Floor of Fire Origin                            689592
Fire Spread                                     696220
No Flame Spread                                 686219
Number of floors with minimum damage            692723
Number of floors with significant damage        692731
Number of floors with heavy damage              692748
Number of floors with extreme damage            692746
Detectors Present                               690344
Detector Type                                   694452
Detector Operation                              694490
Detector Effectiveness                          695961
Detector Failure Reason                         699096
Automatic Extinguishing System Present          690286
Automatic Extinguishing Sytem Type              698224
Automatic Extinguishing Sytem Perfomance        698221
Automatic Extinguishing Sytem Failure Reason    699280
Number of Sprinkler Heads Operating             692371
Supervisor District                              10896
neighborhood_district                            10701
point                                              642
data_as_of                                           0
data_loaded_at                                       0
latitude                                           653
longitude                                          653
dtype: int64

In [4]:
df["Supervisor District"].isnull().sum()

10896

In [6]:
df["point"].isnull().sum()

642